

.format{
    font-size: 300%;
    flex-direction: row;
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}


img{
    width: 220px;
    padding: 10px;
}

.border{
    border: solid black;
    border-style: double;
    border-radius: 10px;
    border-width: 6px;
    background-color: rgb(255, 144, 144);
    padding:10px;
}

.Shop{
    font-size: 250%;
    text-align: center;
    color: red;
    font-family: 'Merriweather Sans', sans-serif;
    animation: blinking 1s linear infinite;
    
}

@keyframes blinking {
    25% {
      opacity: 0;
    }
  }

.view{
    text-align: right;
    padding-right: 20px;
    font-size: 150%;
}

.spread{
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.flashsale_images{
    border-width: 4px;
    border-color: white;
    border-style: double;
}