ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
  }

  .navigation_bar1{
    font-size : 40px;
    font-family: Arial;
  }



iframe {
  display : block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}

  li b{
    margin : 0;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    font-size: 22px;

  }
  
  li a {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: transparent;
  }
  li b:hover {
    background-color: transparent;
  }
  
  @media(max-width:576px)
{
    .flex-container{
        flex-wrap:wrap;
    }
    .flex-item{
        flex-basis: 30%;
    }
}

.Cart{
  width: 24px;
  height: auto;
  float: right;
  border : 10px solid transparent;
}

.Profile{
  width: 20px;
  height: auto;
  float: right;
  border : 10px solid transparent;
}

.Search{
  padding: 10px;
  float: right;
}



