ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
  }

.navigation_bar1{
  font-size : 40px;
  font-family: Arial;
}
.navigation_bar2{
  font-size : 20px;
  position: -webkit-sticky;
  position : sticky;
  font-family: Arial;
}
.navigation_bar3{
  font-size : 15px;
  position: -webkit-sticky;
  position : sticky;
  font-family: Arial;
  overflow: hidden;
}


iframe {
  display : block;
  margin-left: auto;
  margin-right: auto;
  
}

  li b{
    margin : 0;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    font-size: 22px;

  }
  
  li a {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: transparent;
  }
  li b:hover {
    background-color: transparent;
  }
  
  @media(max-width:576px)
{
    .flex-container{
        flex-wrap:wrap;
    }
    .flex-item{
        flex-basis: 30%;
    }
}

.Cart{
  width: 24px;
  height: auto;
  float: right;
  border : 10px solid transparent;
}

.Profile{
  width: 20px;
  height: auto;
  float: right;
  border : 10px solid transparent;
}

.Search{
  padding: 10px;
  float: right;
}




.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}