.All_navigation {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
  }
  

  .All_navigation a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .women {
    float: left;
    overflow: hidden;
  }
  

  .women .women_button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 40px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }

  

  .women-content {
    display: none;
    position: absolute;
    background-color: black;
    max-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .women-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .women-content a:hover {
    background-color: darkgrey;
  }
  

  .women:hover .women-content {
    display: block;
  }